In [1]:
digit1=10
digit2=2.2
string1="fun-coding"

print(type(digit1))
print(type(digit2))
print(type(string1))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
code = '000660\n00000102\t12312312'
print (code)

000660
00000102	12312312

\n은 줄바꿈
\t은 Tab해줌

In [6]:
data1=input()
data2=input()

if data1>data2:
    print(data1)
else:
    print(data2)

100
99
99

if밑에 줄에 tab으로 띄어야함
문자열로 비교했을 때는 원하는 결과가 안나온다 1과 9를 비교하기 때문에

In [8]:
digit1=input()
digit2=input()

if int(digit1)>int(digit2):
    print(digit1)
else:
    print(digit2)

100
99
100

In [10]:
digit = input()
digit=int(digit)

if (digit%2)==0:
    print("짝수입니다")
else:
    print("홀수입니다")

7
홀수입니다

In [14]:
digit1=input()
digit2=input()
digit3=input()

if digit1<digit2:
    min=digit1
else:
    min=digit2
if min>digit3:
    min=digit3
print(min)

3
1
2
1

In [20]:
digit = int(input())

if digit > 80:
    print("A")
elif digit > 60:
    print("B")
else:
    print("C")

5
C

digit의 타입을 숫자형이 아닌 문자형으로 digit>80으로 비교하면 오류남(문자와 숫자의 비교라서)

else if로 쓰던 것이 파이썬에서는 elif로 쓰였다

데이터구조(리스트 사용)
사용자로부터 주민등록번호를 입력받아 출생 연도를 출력

In [22]:
personal_id='800101-1231231'

print(personal_id[0:2])

80

In [24]:
personal_id=input()

print(personal_id[0:2])

970925-1232131
97

Exercise 19. 데이터 구조 (리스트)
사용자로부터 주민등록번호를 입력받아 뒷자리 맨 앞의 숫자를 출력하세요.
주민등록번호 뒷자리 맨 앞자리는 성별을 나타냄
예) 800001-1231231 주민번호를 입력받으면 1을 출력하면 됨
1은 남성을 의미, 2는 여성을 의미, 최근 아이들은 3과 4를 사용함

In [30]:
personal_id="800001-1231231"

print(personal_id[7])

1

In [32]:
personal_id=input()

print(personal_id[7])

970925-3691648
3

Exercise 20. 데이터 구조 (리스트)
사용자로부터 주민등록번호를 입력받아, 성별을 '남성' 또는 '여성'으로 출력하세요.
주민등록번호 뒷자리 맨 앞자리는 성별을 나타냄
예) 800001-1231231 주민번호를 입력받으면 1을 출력하면 됨
1이면 남성, 2이면 여성을 출력하면 됨 (최근 아이들은 3과 4를 사용하지만 이 경우는 고려하지 않기로 함)

In [34]:
personal_id=input()

if personal_id[7]=='1':
    print("남성")
else:
    print("여성")

800001-1231231
남성

최근 아이들은 3과 4를 사용하는 경우도 고려

In [36]:
personal_id=input()

if personal_id[7]=='1'or personal_id[7]=='3':
    print("남성")
else:
    print("여성")

970925-3213214
남성

Exercise 21. 문자열 다루기 (strip)
다음 문자열에서 ...를 제거하라.
strip은 양 끝에 있는 문자만 제거, 여러 문자 제거가능(순서상관없이 문자로만 생각하기)

In [38]:
mystr = "a man goes into the room..."

print(mystr.strip("."))

a man goes into the room

In [42]:
mystr = "a man goes into the room"

print(mystr.strip("a"))

 man goes into the room

In [44]:
mystr = "66666...a man goes into the room"

print(mystr.strip("6."))

a man goes into the room

In [45]:
mystr = "a man goes into the room"

print(mystr.strip("om"))

a man goes into the r

In [46]:
mystr = "a man goes into the room"

print(mystr.strip("mo"))

a man goes into the r

In [47]:
mystr = "a man goes into the room"

print(mystr.strip("rmo"))

a man goes into the

In [48]:
mystr = "a man goes into the room"

print(mystr.strip("mro"))

a man goes into the

In [49]:
mystr = "a man goes into the room"

print(mystr.strip("armo"))

 man goes into the

Exercise 22. 문자열 다루기 (strip)
주식 종목을 나타내는 종목코드에 공백과 줄바꿈 기호가 포함되어 있다. 공백과 잘바꿈 기호를 제거하고 종목코드만을 추출하라.

In [4]:
code = '         000660\n            '

print(code.strip(" \n"))

000660

Exercise 23. 문자열 다루기 (count)
다음 문자열에서 'Python' 문자열의 빈도수를 출력하라.

In [5]:
python_desc = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace."

print(python_desc.count("Python"))

2

Exercise 24. 문자열 다루기 (count)
다음 문자열에서 'p' 문자가 몇번 나오는지 빈도수를 출력하라.

In [8]:
python_desc = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace."

print(python_desc.count("p"))

9