In [1]:
print("Hello World!")

Hello World!

In [4]:
print("I like C")

I like C

In [6]:
print("%0.1f" % 3.1415)

3.1

In [7]:
print("The answer is %0.1f for this question" % 3.1415)

The answer is 3.1 for this question

In [9]:
string='720'
print(string)

720

In [10]:
type(string)

str

In [11]:
int(string)

720

In [12]:
string

'720'

In [14]:
string='720'
print(type(string))
string=int(string)
print(type(string))

<class 'str'>
<class 'int'>

In [18]:
digit = 100
print(type(digit))
digit=str(digit)
print(type(digit))

<class 'int'>
<class 'str'>

In [19]:
num1 = 10
num2 = 20
print(num1+num2)

30

In [20]:
print(num1-num2)
print(num1/num2)
print(num1*num2)
print(num1%num2)

-10
0.5
200
10

In [44]:
print(6**2)

36

** : 거듭지수 
^아님

In [31]:
data1 =2
data2 = 4

print(data1+data2)

6

In [32]:
data1 ='2'
data2 = '4'

print(data1+data2)

24

In [33]:
data1=input()
print(type(data1))

5
<class 'str'>

In [34]:
data1=input()
data2=input()

print(data1+data2)

2
4
24

In [35]:
data1=input()
data2 = input()

data1=int(data1)
data2=int(data2)

print(data1+data2)

2
4
6

In [36]:
data1=input()
data2=input()

print(int(data1)+int(data2))

2
4
6

In [38]:
data1=input()
data2=input()

data1=int(data1)
data2=int(data2)

print("data1 + data 2=",data1+data2)
print("data1 - data 2=",data1-data2)
print("data1 / data 2=",data1/data2)
print("data1 * data 2=",data1*data2)

2
4
data1 + data 2= 6
data1 - data 2= -2
data1 / data 2= 0.5
data1 * data 2= 8

In [43]:
data1=input()
data2=input()

data1=int(data1)
data2=int(data2)

print("data1 + data 2=",data1+data2)
print("data1 * data 2=",data1*data2)
print("data1 / data 2=",data1/data2)
print("data1 // data 2=",data1//data2)
print("data1 % data 2=",data1%data2)

4
4
data1 + data 2= 8
data1 * data 2= 16
data1 / data 2= 1.0
data1 // data 2= 1
data1 % data 2= 0

/ : 나눈 값
// : 나눈 몫
% : 나머지 값

In [2]:
data1 = input()
data2 = input()


print(data1,"+",data2,"=",int(data1)+int(data2))
print(data1,"*",data2,"=",int(data1)*int(data2))
print(data1,"/",data2,"=","%0.0f"%(int(data1)/int(data2)))
print(data1,"//",data2,"=",int(data1)//int(data2))
print(data1,"%",data2,"=",int(data1)%int(data2))

4
4
4 + 4 = 8
4 * 4 = 16
4 / 4 = 1
4 // 4 = 1
4 % 4 = 0

"%0.1f" % (int(data1)/int(data2))에서 ,가 아니라 %임을 조심하기

In [3]:
data1 = input()
data2=input()

print(data1,"+",data2,"=",int(data1)+int(data2))
print(data1,"*",data2,"=",int(data1)*int(data2))
print(data1,"/",data2,"=","%0.1f"%(int(data1)/int(data2)))
print(data1,"//",data2,"=",int(data1)//int(data2))
print(data1,"%",data2,"=",int(data1)%int(data2))

5
4
5 + 4 = 9
5 * 4 = 20
5 / 4 = 1.2
5 // 4 = 1
5 % 4 = 1